<div class="container-fluid">

    <!--page name-->
    <div class="row">
        <div class="col-12 h4">Список товаров</div>
    </div>

    <!--short\control\filters\nomenclatures-->
    <div class="row">

        <!--short section -->
        <div class="col-lg-2 nomenclature__field">

            <!--filters-->
            <div class="row">

                <!--ссылка на форму добавления нового товара-->
                <!--<a class="iButton col-xl-12 text-center" href="#!/nomenclature/add"></a>-->
                <button class="col-12 btn btn-outline-primary" ng-click="sortData('nomenclature')">Добавить новый товар
                </button>

                <!-- sorting AngularJS -->
                <input class="col-12 form-control"
                       title="введите наименование товара"
                       type="text"
                       placeholder="Фильтровать по названию"
                       ng-model="nomenclatureFilter">
                <small class="form-text text-muted">фильтр по названию товара</small>

            </div>

            <!--nomenclatures card-->
            <div ng-repeat="nomenclature in nomenclatureList | filter:nomenclatureFilter | orderBy:'nomenclature':false ">
                <div class="row nomenclature__card__short">
                    <p><b>{{nomenclature.nomenclature}}</b><br>
                        {{nomenclature.price | isEmpty }} р.<br>
                        {{nomenclature.comment | isEmpty }}<br>
                        {{nomenclature.code }}<br>
                        {{nomenclature.manufacturer | isEmpty}}</p><br>
                    <button class="col-md-4 btn btn-sm btn-outline-secondary" ng-click="editNomenclature(nomenclature)">
                        edit
                    </button>
                    <button class="col-md-8 btn btn-sm btn-outline-success" ng-click="addToInvoice(nomenclature)">add to order</button>
                </div>

            </div>

        </div>

        <!--basket-->
        <div class="col-lg-7">

            <div ng-include="'invoice/invoiceAdd.html'"></div>

        </div>

        <!--nomenclature info-->
        <div class="col-lg-3">
            <p> nomenclature info </p>
        </div>

    </div>

</div>

