<h4 >Добавить новый товаров</h4>

<!--вывод списока данных на страницу -->
<div class="card">


</div>

<!--форма добавления нового товара в БД-->
<form class="card" name="addingNomenclature" ng-submit="addNomenclature(nomenclatureJSON)">
    <div class="card-body">
        <input hidden placeholder="id" type="number" ng-model=nomenclatureJSON.id>
        <input placeholder="nomenclature" type="text" ng-model=nomenclatureJSON.nomenclature>
        <input placeholder="comment" type="text" ng-model=nomenclatureJSON.comment>
        <input placeholder="price" type="number" ng-model=nomenclatureJSON.price>
        <input placeholder="manufacturer" type="text" ng-model=nomenclatureJSON.manufacturer>
        <input placeholder="price" type="text" ng-model=nomenclatureJSON.code>
        <select ng-controller="categoryCtrl" class="custom-select is-invalid"
                ng-model="nomenclatureJSON.category">
            <option ng-repeat="category in categoryList"
                    value="{{category.id}}"
                    ng-model="category.id">{{category.category}}</option>
        </select>
    </div>
    <button type="submit">Сохранить</button>

</form>

<button ng-click="deleteNomenclature(nomenclatureJSON)">Удалить</button>