<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="nomenclatureControllerApiV1">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>

    <script src="../index.js"></script>
    <script src="nomenclature.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>LLC Makros+ Invoice</title>

    <!-- CSS connecting people -->
    <link href="style.css" rel="stylesheet">

</head>
<body>
<h2 class="h2Title">Добавить новый товаров</h2>

<!--вывод списока данных на страницу -->
<div class="card">


</div>

<!--форма добавления нового товара в БД-->
<form class="card" name="addingNomenclature" ng-submit="addNomenclature(nomenclatureJSON)">
    <div class="card-body">
        <input hidden placeholder="id" type="number" ng-model=nomenclatureJSON.id>
        <input placeholder="nomenclature" type="text" ng-model=nomenclatureJSON.nomenclature>
        <input placeholder="comment" type="text" ng-model=nomenclatureJSON.comment>
        <input placeholder="price" type="number" ng-model=nomenclatureJSON.price>
        <input placeholder="manufacturer" type="text" ng-model=nomenclatureJSON.manufacturer>
        <input placeholder="price" type="text" ng-model=nomenclatureJSON.code>
        <select ng-controller="categoryControllerApiV1" class="custom-select is-invalid"
                ng-model="nomenclatureJSON.category">
            <option ng-repeat="category in categoryList"
                    value="{{category.id}}"
                    ng-model="category.id">{{category.category}}</option>
        </select>
    </div>
    <button type="submit">Сохранить</button>

</form>

<button ng-click="deleteNomenclature(nomenclatureJSON)">Удалить</button>





</body>
</html>