<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="invoiceControllerApiV1">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>

    <script src="index.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>LLC Makros+ Invoice Add</title>

    <!-- CSS connecting people -->
    <link href="style.css" rel="stylesheet">

</head>
<body>

<h2 class="H2_DescriptionTitle">Сохранить заказ</h2>

<!--вывод списока данных на страницу -->
<!--ввод основых значений Invoice-->
<form ng-submit="addInvoice(invoice)">
    <button class="btn btn-info" type="submit">Сохранить заказ</button>
    <div class="form-row">

        <div class="col-md-3 mb-3">
            <label for="validationServer01">Заказ (1c код):</label>
            <input type="text" class="form-control is-valid" id="validationServer01"
                   ng-model="invoice.ordernumber"
                   required>
            <div class="valid-feedback">
                Укажите код заказа из 1с.
            </div>
        </div>

        <div class="col-md-3 mb-3" ng-controller="customerControllerApiV1">
            <label for="validationServer031">Заказчик</label>
            <select class="custom-select is-invalid" id="validationServer031"
                    ng-model="invoice.customer" required>
                <option ng-repeat="customer in customerList"
                        value="{{customer.id}}"
                        ng-model="customer.login">{{customer.login}}</option>
            </select>
            <div class="invalid-feedback">
                укажите заказчика.
            </div>
        </div>

        <div class="col-md-9 mb-3">
            <label for="validationServer02">Описание заказа:</label>
            <input type="text" class="form-control is-invalid" id="validationServer02"
                   ng-model="invoice.comment" required>
            <div class="invalid-feedback">
                введите короткое описание заказа.
            </div>
        </div>

    </div>
    <div class="form-row">

        <div class="col-md-3 mb-3">
            <label for="validationServer03">Отдел</label>
            <select class="custom-select is-invalid" id="validationServer03"
                    ng-model="invoice.department" required>
                <option>FRAC (PL_215)</option>
                <option>COIL (PL_214)</option>
                <option>DRT</option>
                <option>General_C</option>
            </select>
            <div class="invalid-feedback">
                укажите центр затрат.
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <label for="validationServer04">Сумма заказа: </label>
            <input type="text" class="form-control is-invalid" id="validationServer04"
                   ng-model="invoice.totalprice">
            <div class="invalid-feedback">
                укажите итоговую сумму заказа.
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <label for="validationServer05">№СФ: </label>
            <input type="text" class="form-control is-invalid" id="validationServer05"
                   ng-model="invoice.invoicenumber">
            <div class="invalid-feedback">
                укажите номер счет фактуры.
            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="form-check">
            <label class="form-check-label" for="invalidCheck06">На расценке:</label>
            <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck06"
                   ng-model="invoice.senttoprice">
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>

        <div class="form-check">
            <label class="form-check-label" for="invalidCheck07">На согласовании:</label>
            <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck07"
                   ng-model="invoice.senttoapprove">
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>

        <div class="form-check">
            <label class="form-check-label" for="invalidCheck08">Закупаеся:</label>
            <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck08"
                   ng-model="invoice.senttopurchase">
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>

    </div>

</form>

<!--вывод товаров в Invoice-->
<div class="card">

    <table class="table table-hover">
        <thead>
        <tr class="active">
            <th>Товар</th>
            <th>Количество</th>
            <th>Согласующий</th>
            <th>Описание</th>
            <th>Цена</th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="purchase in invoiceFactory.invoiceJSON.purchases">
            <td>{{purchase.nomenclature.nomenclature}} </td>
            <td> <input type="number" placeholder="количество: " ng-model='purchase.count'/></td>
            <td>
                <div ng-controller="customerControllerApiV1">
                    <select ng-model="purchase.approver">
                        <option ng-repeat="customer in customerList"
                                value="{{customer.firstName}} {{customer.lastName}}"
                                ng-model="purchase.approver">{{customer.firstName}} {{customer.lastName}} </option>
                    </select>
                </div>
            </td>
            <td> <input type="text" placeholder="Описание: " ng-model='purchase.comment'/></td>
            <td> {{purchase.buyingPrice}}</td>
            <td> <button ng-click="deletePurchaseFromInvoice($index)">-</button></td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>