<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="nomenclatureControllerApiV1">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>

    <script src="index.js"></script>
    <script src="nomenclature.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>LLC Makros+ Invoice</title>

    <!-- CSS connecting people -->
    <link href="style.css" rel="stylesheet">

</head>
<body>


<h2 class="H2_DescriptionTitle">Список товаров</h2>

<!--ссылка на форму добавления нового товара-->
<a class="btn" href="#!/nomenclature/add">Добавить новый товар</a>

<!--фильтр-->
<!--<form class="card" name="filteringNomenclature" ng-submit="showAllNomenclature()">
    <span>
        <input placeholder="цена от (включительно)" ng-model="minPrice" type="number">
        <input placeholder="цена до (включительно)" ng-model="maxPrice" type="number">
        <input placeholder="номенклатура" ng-model="nomenclature" type="text">

        <div ng-controller="categoryControllerApiV1">
            <select ng-model="categoryID">
                <option selected value=''>не выбрана</option>
                <option ng-repeat="ctg in categoryList"
                        value="{{ctg.id}}"
                        ng-model="ctg.category">{{ctg.category}}</option>
            </select>
        </div>
    </span>
    <button type="submit">применить фильтр</button>
</form>

&lt;!&ndash; сводное инфо по всем страницам&ndash;&gt;
<h2 class="H2_DescriptionTitle">
    Каталог товаров. (Всего товаров:{{TotalElements}},
    всего страниц: {{TotalPages}},
    номер текущей страницы {{PageNumber}}
</h2>

&lt;!&ndash;навигация по страницам&ndash;&gt;
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {{buttonBackShow}}"><a class="page-link"
                                                    href="#!/nomenclature?pageNumber={{PageNumber-1}}"><<<</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
        <li class="page-item {{buttonForwardShow}}"><a class="page-link"
                                                       href="#!/nomenclature?pageNumber={{PageNumber+1}}">>>></a></li>
    </ul>
</nav>



&lt;!&ndash;https://stackoverflow.com/questions/40773248/how-to-change-pages-based-on-url
https://stackoverflow.com/questions/10816073/how-to-do-paging-in-angularjs&ndash;&gt;
&lt;!&ndash;<pagination
        ng-model="currentPage"
        total-items="todos.length"
        max-size="maxSize"
        boundary-links="true">
</pagination>&ndash;&gt;-->

<!-- фильтр -->
<input type="text" placeholder="Фильтровать по названию товара" ng-model="nomenclatureFilter">

<!-- сортировка AngularJS -->
<label>Сортировать: </label>
<select ng-model="sortColumn">
    <option value="nomenclature">Наименоване (A-Z)</option>
    <option value="-nomenclature">Наименоване (Z-A)</option>
    <option value="price">price (0-9)</option>
    <option value="-price">price (9-0)</option>
</select>

<button ng-click="sortData('nomenclature')">Сотр по имени</button>

<!--вывод списока данных на страницу -->
<div class="nomClass"
     ng-repeat="nomenclature in nomenclatureList | orderBy: sortColumn:reversSortColumn | filter :
        nomenclatureFilter">

    <div class="row">

        <div class="col-lg-8">
            <div class="col" ng-click="editNomenclature(nomenclature)">{{nomenclature.nomenclature}}</div>
            <div class="col">{{nomenclature.comment | isEmpty }}</div>
            <div class="col">{{nomenclature.code }}</div>
        </div>

        <div class="col-lg-3">
            <div class="col">{{nomenclature.manufacturer | isEmpty}}</div>
            <div class="col">{{nomenclature.price | isEmpty }}</div>
            <div class="col">{{nomenclature.category.category | isEmpty }}</div>
        </div>

        <div class="col-lg-1">
            <button ng-click="addToInvoice(nomenclature)">+</button>
        </div>

    </div>
</div>


</body>
</html>