*{
/*    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid green;*/
}
.container, .container-fluid{
    /*border: 1px solid blue;*/
}

body {
    font-family: Arial;
    background-color: #fff5ee;
    color: #000000;
}

h1 {
    color: chocolate;
}

.h2Title {
    color: chocolate;
    background-color: #ffdcc4;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}

.iField, .card-body {
    color: chocolate;
    background-color: #ffdcc4;
    border: none;
    /*border-radius: 5px;*/
    /*border: 1px solid #FF8040;*/
    /*border-bottom: 1px solid #FF8040;*/
    /*margin: 3px;*/
    /*padding: 3px;*/
}

.iButton{
    border: 1px solid #FF8040;
    border-radius: 5px;
    /*padding: 3px 3px 3px 3px;*/
    /*padding: 5px 1px 5px 1px;*/
    /*    margin: 5px 5px;*/
    background-color: #ffdcc4;
    color: chocolate;
}

/*.card*/



/*input, .card, .nomClass, button, .btn, textarea, iframe, select, table, pagination {
     border: none;
!*     padding: 1px 1px;
     margin: 1px 1px;*!
     border-bottom: 2px solid #FF8040;
     border-radius: 10px;
     background-color: #ffdcc4;
     color: chocolate;
     width: 100%
 }*/
/*
a {
    color: chocolate;
    text-decoration: none;
}*/

.footer {
    margin-top: 10px;
    padding: 10px;
    color: #756f6f;
    text-align: left;
    border-top: 1px solid chocolate;
}