<div class="container-fluid">
    <section ng-hide="currentInvoice == undefined">

        <!--details-->
        <div class="row d-none d-lg-block">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Детализация заказа {{currentInvoice.ordernumber}}</h5>
                    <div class="card-text">
                        <p class="col-12">
                            Отдел: {{currentInvoice.department}}<br>
                            Описание заказа: {{currentInvoice.comment}}<br>
                            Сумма заказа: {{currentInvoice.totalprice}}<br>
                            №СФ: {{currentInvoice.invoicenumber}}<br>
                            Дата создания заказа: {{currentInvoice.datacreate | date: 'yyyy-MM-dd' | isEmpty}}<br>
                            <span class="{{isWarning(currentInvoice.resolveddate)}}">Дата выполнения заказа: {{currentInvoice.resolveddate | date: 'yyyy-MM-dd hh:mm' | isEmpty}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--history\invoice details section-->
        <div class="row">

            <!--history section-->
            <div class="col-xl-3 col-lg-4 col-md-6 mt-3">
                <!--history add button-->
                <div class="row">
                    <h5 class="col-md-6">Этапы: </h5>
                    <button class="col-md-6 btn btn-sm btn-outline-primary" data-toggle="modal"
                            data-target="#saveHistoryModal"
                            ng-click="stepFindAll()"> добавить этап выполнения
                    </button>
                </div>

                <!--history steps \ comments-->
                <div class="row" ng-controller="historyCtrl">
                    <div class="card card__history col-md-12 m-1"
                         ng-repeat="history in currentInvoice.histories | orderBy:'submitdate':false">
                        <div class="card-body card__body__history">
                            <!--history steps-->
                            <h6 class="card-title">

                                {{history.step.name}}
                                <small class="text-muted">({{history.submitdate | date: "yyyy.MM.dd HH:mm"}}
                                    {{history.customer.lastName}}
                                    {{history.customer.firstName[0]}})</small></h6>
                            <!--comments-->
                            <p class="card-text font-weight-normal"
                               ng-repeat="comment in history.stepcomment | orderBy:'submitdate':false">
                                <small class="text-muted">
                                    {{comment.submitdate | date: "yy.MM.dd HH:mm" }}
                                    {{comment.customer.lastName}}
                                    {{comment.customer.firstName[0]}} :</small>
                                {{comment.comment}}
                            </p>

                            <!--add comments-->
                            <div class="input-group">
                                <div class="custom-file">
                                    <input class="col-12 form-control-sm card__input__history"
                                           title="введите комментарий к этапу выполнения"
                                           type="text"
                                           placeholder="добавьте комментарий к этапу выполнения"
                                           ng-model="commentText">
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-outline-secondary"
                                            type="button"
                                            ng-click="stepCommentSave(history, commentText)">+
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--invoice section-->
            <div class="col-xl-9 col-lg-8 col-md-6 mt-3">
                <!--invoices title-->
                <div class="row">
                    <h5 class="col-12">Товары в заказе:</h5>
                </div>
                <!--invoices elements-->
                <div class="row">
                    <div class="card col-xl-3 col-lg-4 col-md-12 invoice__element" ng-repeat="purchase in currentInvoice.purchases">
                        <div class="card-body">
                            <!--товар\описаниеТовара\количество-->
                            <h6 class="card-title">
                                {{purchase.nomenclature.nomenclature}}
                                ({{purchase.nomenclature.code | isEmpty }})
                                {{purchase.count | isEmpty }} шт.</h6>
                            <p class="card-text">
                                {{purchase.nomenclature.comment | isEmpty }} <br>
                                {{purchase.buyingPrice | currency: "Ꝑ" : 2 | isEmpty }}<br>
                                <a class="card-link"
                                   target="_blank"
                                   ng-href="{{purchase.commentnumenclature | isLink }}">
                                    ссылка на товар </a><br>
                                {{purchase.comment | isEmpty }}<br>

                            </p>
                        </div>
                        <div class="card-footer">
                            <span class="{{isWarning(purchase.resolvingdate)}}">
                                {{purchase.resolvingdate | date: "yyyy.MM.dd" | unachieved }}</span>
<!--                            <button class="btn btn-sm text-center btn-outline-danger"-->
<!--                                    ng-click="deletePurchaseFromInvoice($index)">Ⓧ-->
<!--                            </button>-->
                        </div>
                    </div>
                </div>
                <!--            &lt;!&ndash;<button ng-click="deleteNomenclature(invoiceJSON)">Удалить</button>&ndash;&gt;
                            <button class="row btn text-center btn-outline-danger col-12"
                                    data-toggle="modal"
                                    data-target="#deleteInvoiceModal"
                                    type="button">
                                Удалить заказ Ⓧ
                            </button>-->
            </div>

        </div>

    </section>
</div>

<!-- Modal Edit invoice -->
<div class="modal fade"
     id="editInvoiceModal"
     tabindex="-1" role="dialog"
     aria-labelledby="editInvoiceModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">

                <h6 class="modal-title"
                    id="editInvoiceModalLabel">Сохранить изменения в заказе?</h6>

                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <h6>{{currentInvoice.ordernumber}}</h6>
                <p>{{currentInvoice.comment}}</p>
                <p>{{currentInvoice.department}}</p>
                <p>{{currentInvoice.customer.firstName}} {{currentInvoice.customer.lastName}}</p>
                <p>{{currentInvoice.totalprice}}</p>
                <p>{{currentInvoice.datacreate}}</p>
            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-primary"
                        ng-click="editInvoice($rootScope.currentInvoice)">Сохранить
                </button>

                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Отменить
                </button>

            </div>
        </div>
    </div>
</div>

<!-- Modal Delete invoice from DB -->
<div class="modal fade"
     id="deleteInvoiceModal"
     tabindex="-1" role="dialog"
     aria-labelledby="deleteInvoiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">

                <h6 class="modal-title"
                    id="deleteInvoiceModalLabel">Удалить весь заказ из БД навсегда?</h6>

                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <h6>{{currentInvoice.ordernumber}}</h6>
                <p>{{currentInvoice.comment}}</p>
                <p>{{currentInvoice.department}}</p>
                <p>{{currentInvoice.customer.firstName}} {{currentInvoice.customer.lastName}}</p>
                <p>{{currentInvoice.datacreate}}</p>
            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-primary"
                        ng-click="deleteInvoice(invoice)">Удалить
                </button>

                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Отменить
                </button>

            </div>
        </div>
    </div>
</div>

<!-- Modal history save to DB -->
<div class="modal fade"
     id="saveHistoryModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="saveHistoryModalLabel"
     aria-hidden="true"
     ng-controller="historyCtrl"
     ng-init="historyInit()">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title"
                    id="saveHistoryModalLabel">Добавить этап к заказу {{currentInvoice.ordernumber}}</h6>
            </div>

            <div class="modal-body">
                <div ng-repeat="step in stepsJSON">
                    <button type="button"
                            class="col-12 btn btn-primary"
                            data-dismiss="modal"
                            ng-click="historySave(step)">
                        {{step.name}}
                    </button>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Отменить

                </button>

            </div>
        </div>
    </div>
</div>

<!--Модальное окно по ошибке-->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Ошибка добавления данных.</h5>
            </div>
            <div class="modal-body">
                <h3>{{ errorMessage11 }}</h3>
                <p>код ошибки: {{ errorMessage11 }} <br>
                    время ошибки: {{ errorMessage11 | date: "yyyy.MM.dd HH:MM" }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>


