<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="invoiceControllerApiV1">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>

    <script src="../index.js"></script>
    <script src="invoice.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>LLC Makros+ Invoice</title>

    <!-- CSS connecting people -->
    <link href="style.css" rel="stylesheet">

</head>
<body>

<h2 class="h2Title">Редактировать заказ</h2>

<!--вывод списока данных на страницу -->
<div>
    <form class="card" ng-submit="editInvoice(invoiceJSON)">
        <div class="card-body">
            <input hidden placeholder="id" type="number" ng-model=invoiceJSON.id>
            <input placeholder="ordernumber" type="text" ng-model=invoiceJSON.ordernumber>
            <input placeholder="comment" type="text" ng-model=invoiceJSON.comment>
            <input placeholder="department" type="text" ng-model=invoiceJSON.department>
            <input placeholder="customer" type="text" ng-model=invoiceJSON.customer>
            <input placeholder="senttoprice" type="checkbox" ng-model=invoiceJSON.senttoprice>
            <input placeholder="senttoapprove" type="checkbox" ng-model=invoiceJSON.senttoapprove>
            <input placeholder="senttopurchase" type="checkbox" ng-model=invoiceJSON.senttopurchase>
            <input placeholder="invoicenumber" type="text" ng-model=invoiceJSON.invoicenumber>
            <input placeholder="totalprice" type="number" ng-model=invoiceJSON.totalprice>
            <!--<input placeholder="datacreate" type="text" ng-value="invoiceJSON.datacreate | date: 'yyyy.MM.dd' | isEmpty" ng-model=invoiceJSON.datacreate>
            <input placeholder="resolveddate" type="text" ng-value="invoiceJSON.resolveddate | date: 'yyyy.MM.dd' | isEmpty" ng-model=invoiceJSON.resolveddate>-->
        </div>
        <button type="submit">Сохранить</button>

    </form>
    <button class="btn text-center btn-danger" ng-click="deleteInvoice(invoice)">Удалить заказ заказ Ⓧ</button>
</div>


<table class="table table-hover">
    <thead>
    <tr class="active">
        <th>Код 1с</th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Для кого</th>
        <th>Детали заказа</th>
        <th>Цена закупа</th>
        <th>Дата получнения</th>
        <th>Удалить</th>
    </tr>
    </thead>

    <tbody ng-repeat="purchase in invoiceJSON.purchases">

    <tr>
        <td> {{purchase.nomenclature.code | isEmpty }}</td>
        <td><a class="card-link" href="#!/purchaseEditAnJS/?id={{purchase.id}}">
            {{purchase.nomenclature.nomenclature}} </a>
        </td>
        <td> {{purchase.count | isEmpty }}</td>
        <td> {{purchase.approver | isEmpty }}</td>
        <td> {{purchase.comment | isEmpty }}</td>
        <td> {{purchase.buyingPrice | currency: "Ꝑ" : 2 | isEmpty }}</td>
        <td> {{purchase.resolvingdate | date: "yyyy.MM.dd" | isEmpty }}</td>
        <td>
            <button ng-click="deletePurchaseFromInvoice($index)">-</button>
        </td>
    </tr>

    </tbody>

</table>


<!--<button ng-click="deleteNomenclature(invoiceJSON)">Удалить</button>-->

</body>
</html>