<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="invoiceControllerApiV1">
<head>

    <script src="../index.js"></script>
    <script src="invoice.js"></script>

    <title>LLC Makros+ Invoice</title>

    <!-- CSS connecting people -->
    <link href="style.css" rel="stylesheet">

</head>
<body>

<h2>Редактировать заказ</h2>


<div class="container">

    <!--content control header-->

    <form ng-submit="editInvoice(invoiceJSON)">
        <div class="row">
            <input hidden placeholder="id" type="number" ng-model=invoiceJSON.id>
            <input class="col-md-6 control_button" placeholder="ordernumber" type="text" ng-model=invoiceJSON.ordernumber>
            <input class="col-md-6 control_button" placeholder="comment" type="text" ng-model=invoiceJSON.comment>
            <input class="col-md-6 control_button" placeholder="department" type="text" ng-model=invoiceJSON.department>
            <input class="col-md-6 control_button" placeholder="customer" type="text" ng-model=invoiceJSON.customer>
            <input class="col-md-6 control_button" placeholder="invoicenumber" type="text"
                   ng-model=invoiceJSON.invoicenumber>
            <input class="col-md-6 control_button" placeholder="totalprice" type="number" ng-model=invoiceJSON.totalprice>
            <input class="col-md-4 control_button" placeholder="senttoprice" type="checkbox"
                   ng-model=invoiceJSON.senttoprice>
            <input class="col-md-4 control_button" placeholder="senttoapprove" type="checkbox"
                   ng-model=invoiceJSON.senttoapprove>
            <input class="col-md-4 control_button" placeholder="senttopurchase" type="checkbox"
                   ng-model=invoiceJSON.senttopurchase>
            <!--<input placeholder="datacreate" type="text" ng-value="invoiceJSON.datacreate | date: 'yyyy.MM.dd' | isEmpty" ng-model=invoiceJSON.datacreate>
            <input placeholder="resolveddate" type="text" ng-value="invoiceJSON.resolveddate | date: 'yyyy.MM.dd' | isEmpty" ng-model=invoiceJSON.resolveddate>-->
            <button class="col-12 btn text-center btn-outline-success" type="submit">Сохранить</button>
        </div>

    </form>

    <!--content info details-->
    <div class="row">
        <table class="table table-responsive-lg table-bordered table-hover table-info">

            <thead>
            <tr class="active">
                <th>Код 1с</th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Для кого</th>
                <th>Детали заказа</th>
                <th>Цена закупа</th>
                <th>Дата получения</th>
                <th>Удалить</th>
            </tr>
            </thead>

            <tbody ng-repeat="purchase in invoiceJSON.purchases">
            <tr>
                <td> {{purchase.nomenclature.code | isEmpty }}</td>
                <td><a class="card-link" href="#!/purchaseEditAnJS/?id={{purchase.id}}">
                    {{purchase.nomenclature.nomenclature}} </a>
                </td>
                <td> {{purchase.count | isEmpty }}</td>
                <td> {{purchase.approver | isEmpty }}</td>
                <td> {{purchase.comment | isEmpty }}</td>
                <td> {{purchase.buyingPrice | currency: "Ꝑ" : 2 | isEmpty }}</td>
                <td> {{purchase.resolvingdate | date: "yyyy.MM.dd" | isEmpty }}</td>
                <td>
                    <button class="btn text-center btn-outline-danger" ng-click="deletePurchaseFromInvoice($index)">Ⓧ
                    </button>
                </td>
            </tr>

            </tbody>

        </table>
    </div>

    <button class="row btn text-center btn-outline-danger col-12" ng-click="deleteInvoice(invoice)">Удалить заказ Ⓧ
    </button>
</div>

<!--<button ng-click="deleteNomenclature(invoiceJSON)">Удалить</button>-->

</body>
</html>