<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="invoiceControllerApiV1">
<head>

    <script src="../index.js"></script>

</head>
<body>


<div class="container">
    <div class="row">

        <h2 class="col-12 header__h2">Новый заказ</h2>

        <!--ввод основных значений Invoice-->
        <form class="col was-validated" ng-submit="addInvoice(invoice)">

            <button class="btn form__button col-sm-12" type="submit">Сохранить заказ</button>

            <!--1c код \ Отдел \ Согласователь-->
            <div class="form-row">

                <!--1c код-->
                <div class="col-md-4">
                    <label for="orderNumber1c">Заказ (1c код)</label>
                    <input class="form-control is-valid"
                           id="orderNumber1c"
                           type="text"
                           ng-model="invoice.ordernumber"
                           placeholder="заполнить номер заказа из 1с"
                           required>
                    <div class="invalid-feedback"> <!--поменять на class="valid-feedback" когда заполнено-->
                        Укажите код заказа из 1с.
                    </div>
                </div>

                <!--Отдел-->
                <div class="col-md-4">
                    <label for="validationServer03">Отдел</label>
                    <select class="form-control custom-select is-valid"
                            id="validationServer03"
                            ng-model="invoice.department"
                            required>
                        <option value="">...</option>
                        <option value="1">FRAC (PL_215)</option>
                        <option value="2">COIL (PL_214)</option>
                        <option value="3">DRT</option>
                        <option value="4">General_C</option>
                    </select>
                    <div class="invalid-feedback">
                        укажите центр затрат (отдел).
                    </div>
                </div>

                <!--Согласователь-->
                <div class="col-md-4" ng-controller="customerControllerApiV1">
                    <label for="validationApprover">Согласователь</label>
                    <select class="form-control custom-select is-valid"
                            id="validationApprover"
                            ng-model="invoice.customer"
                            required>
                        <option value="">...</option>
                        <option ng-repeat="customer in customerList"
                                value="{{customer.id}}"
                                ng-model="customer.login">{{customer.login}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        укажите руководителя подразделения.
                    </div>
                </div>


            </div>

            <!--Описание заказа-->
            <div class="form-row">
                <!--Описание заказа-->
                <div class="col-md-12">
                    <label for="validationOrderInfoShort">Описание заказа</label>
                    <input type="text"
                           class="form-control is-valid"
                           id="validationOrderInfoShort"
                           ng-model="invoice.comment"
                           placeholder="заполнить короткое описание заказа"
                           required>
                    <div class="invalid-feedback">
                        введите короткое описание заказа.
                    </div>
                </div>
            </div>

            <!--сумма заказа \ № СФ-->
            <div class="form-row">

                <!--сумма заказа-->
                <div class="col-md-6">
                    <label for="totalPrice">Сумма заказа</label>
                    <input type="number"
                           class="form-control"
                           id="totalPrice"
                           ng-model="invoice.totalprice"
                           placeholder="заполнить сумму заказа xx,00">
                </div>

                <!--№ СФ-->
                <div class="col-md-6">
                    <label for="validationServer05">№СФ</label>
                    <input type="text"
                           class="form-control"
                           id="validationServer05"
                           ng-model="invoice.invoicenumber"
                           placeholder="заполнить номер СФ">
                </div>

            </div>

            <!-- на расценке \ на согласовании \ закупается-->
            <div class="form-row cb_border">

                <!--На расценке-->
                <div class="form-check col-md-4">
                    <input class="form-check-input"
                           type="checkbox"
                           id="Check01"
                           ng-model="invoice.senttoprice">
                    <label class="form-check-label" for="Check01"> На расценке </label>
                </div>

                <!--на согласовании-->
                <div class="form-check col-md-4">
                    <input class="form-check-input"
                           type="checkbox"
                           id="Check02"
                           ng-model="invoice.senttoapprove">
                    <label class="form-check-label" for="Check02">На согласовании</label>
                </div>

                <!--Закупается-->
                <div class="form-check col-md-4">
                    <input class="form-check-input"
                           type="checkbox"
                           id="Check03"
                           ng-model="invoice.senttopurchase">
                    <label class="form-check-label"
                           for="Check03">Закупается</label>
                </div>

            </div>

        </form>

    </div>
</div>


<!--вывод товаров в Invoice-->
<div class="card">

    <table class="table table-responsive-lg table-bordered table-hover table-info">
        <thead>
        <tr class="active">
            <th>Товар</th>
            <th>Количество</th>
            <th>Согласующий</th>
            <th>Описание</th>
            <th>Цена</th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="purchase in invoiceFactory.invoiceJSON.purchases">
            <td>{{purchase.nomenclature.nomenclature}}</td>
            <td><input type="number" placeholder="количество: " ng-model='purchase.count'/></td>
            <td>
                <div ng-controller="customerControllerApiV1">
                    <select ng-model="purchase.approver">
                        <option ng-repeat="customer in customerList"
                                value="{{customer.firstName}} {{customer.lastName}}"
                                ng-model="purchase.approver">{{customer.firstName}} {{customer.lastName}}
                        </option>
                    </select>
                </div>
            </td>
            <td><input type="text" placeholder="Описание: " ng-model='purchase.comment'/></td>
            <td> {{purchase.buyingPrice}}</td>
            <td>
                <button class="btn form__button col-sm-12" ng-click="deletePurchaseFromInvoice($index)">-</button>
            </td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>