<div class="container-fluid">

    <!--page name-->
    <div class="row">
        <div class="col-12 h4">Список заказов</div>
    </div>

    <!--invoices-short filter\card-->
    <div class="row">

        <!--short section -->
        <div class="container invoice__field col-lg-2">

            <!--filters-->
            <div class="row">
                <!--<input type="text" placeholder="Фильтровать по всем полям" ng-model="orderNumber">-->
                <input class="col-12"
                       title="введите №заказа"
                       type="text"
                       placeholder="Фильтровать по номеру заказа"
                       ng-model="fltr.ordernumber">

                <input type="checkbox" checked data-toggle="toggle">
            </div>

            <!--invoice short card-->
            <div class="row invoice__card__short"
                 ng-repeat="invoice in InvoiceList | filter: fltr"
                 ng-click="prepareToEditInvoice(invoice)">

                <h6 class="{{isWarning(invoice.resolveddate)}}">{{invoice.ordernumber}}</h6>
                <p>{{invoice.comment}}<br>
                    сумма: {{invoice.totalprice | isEmpty }} р.<br>
                    создан: {{invoice.datacreate | date: "yyyy.MM.dd" | isEmpty }}</p>
            </div>

        </div>

        <!--purchase section-->
        <div class="container col-lg-7">

            <!--invoice elements-->
            <div class="row">
                <div class="col-12">
                    <div class="invoice__element" ng-repeat="purchase in invoiceJSON.purchases">
                        <div class="container-fluid">
                            <div class="row">

                                <!--товар\описаниеТовара-->
                                <div class="col-lg-5 ">
                                    <div class="h6">
                                        {{purchase.nomenclature.nomenclature}}
                                        ({{purchase.nomenclature.code | isEmpty }})
                                    </div>
                                    <div>{{purchase.nomenclature.comment | isEmpty }}</div>
                                    <div>{{purchase.buyingPrice | currency: "Ꝑ" : 2 | isEmpty }}</div>
                                    <div>{{purchase.commentnumenclature | currency: "Ꝑ" : 2 | isEmpty }}</div>
                                </div>

                                <!--для кого -->
                                <div class="col-lg-4">
                                    <div> {{purchase.comment | isEmpty }}</div>
                                </div>

                                <!--количество \ датаПолучения-->
                                <div class="col-lg-3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4"> {{purchase.count | isEmpty }} шт.</div>
                                            <div class="col-lg-6 {{isWarning(purchase.resolvingdate)}}">
                                                {{purchase.resolvingdate | date: "yyyy.MM.dd" | unachieved }}
                                            </div>
                                            <div class="col-lg-2">
                                                <button class="btn btn-sm text-center btn-outline-danger"
                                                        ng-click="deletePurchaseFromInvoice($index)">Ⓧ
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            &lt;!&ndash;<button ng-click="deleteNomenclature(invoiceJSON)">Удалить</button>&ndash;&gt;
                        <button class="row btn text-center btn-outline-danger col-12"
                                data-toggle="modal"
                                data-target="#deleteInvoiceModal"
                                type="button">
                            Удалить заказ Ⓧ
                        </button>-->

        </div>

        <!--details \ history section-->
        <div class="container col-lg-3">

            <div class="row h4">{{invoiceJSON.ordernumber}}</div>

            <!--код\отдел\согласователь....-->
            <div class="row invoice__main">

                <form class="col was-validated">

                    <button class="btn btn-outline-success col-12"
                            data-toggle="modal"
                            data-target="#editInvoiceModal"
                            type="button">Сохранить изменения
                    </button>

                    <!--iD скрыто-->
                    <input hidden placeholder="id" type="number" ng-model=invoiceJSON.id>

                    <!--1c код-->
                    <label for="orderNumber1c">Заказ (1c код)</label>
                    <input class="form-control is-valid"
                           id="orderNumber1c"
                           type="text"
                           ng-model=invoiceJSON.ordernumber
                           placeholder="заполнить номер заказа из 1с"
                           required>
                    <div class="invalid-feedback"> Укажите код заказа из 1с.</div>

                    <!--Отдел-->
                    <label for="validationServer03">Отдел</label>
                    <select class="form-control custom-select is-valid"
                            id="validationServer03"
                            ng-model=invoiceJSON.department
                            required>
                        <option value="{{invoiceJSON.department}}" selected="selected">
                            ...({{invoiceJSON.department}})
                        </option>
                        <option value="FRAC (PL_215)">FRAC (PL_215)</option>
                        <option value="COIL (PL_214)">COIL (PL_214)</option>
                        <option value="DRT">DRT</option>
                        <option value="General_C">General_C</option>
                    </select>
                    <div class="invalid-feedback">
                        укажите центр затрат (отдел).
                    </div>

                    <!--                        &lt;!&ndash;Согласователь todo не работает выбор согласователя&ndash;&gt;
                                            <div class="col-md-4" ng-controller="customerCtrl">
                                                <label for="validationApprover">Согласователь</label>
                                                <select class="form-control custom-select is-valid"
                                                        id="validationApprover"
                                                        ng-model=invoiceJSON.customer
                                                        required>
                                                    <option value="{{invoiceJSON.customer.id}}" selected="selected">
                                                        {{invoiceJSON.customer.login}}
                                                    </option>
                                                    <option ng-repeat="customer in customerList"
                                                            value="{{customer.id}}"
                                                            ng-model="customer.login">{{customer.login}}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    укажите руководителя подразделения.
                                                </div>
                                            </div>-->

                    <!--Описание заказа-->
                    <label for="validationOrderInfoShort">Описание заказа</label>
                    <input type="text"
                           class="form-control is-valid"
                           id="validationOrderInfoShort"
                           ng-model=invoiceJSON.comment
                           placeholder="заполнить короткое описание заказа"
                           required>
                    <div class="invalid-feedback">введите короткое описание заказа.</div>


                    <!--сумма заказа-->
                    <label for="totalPrice">Сумма заказа</label>
                    <input type="number"
                           class="form-control"
                           id="totalPrice"
                           ng-model=invoiceJSON.totalprice
                           placeholder="заполнить сумму заказа xx,00">

                    <!--№ СФ-->
                    <label for="validationServer05">№СФ</label>
                    <input type="text"
                           class="form-control "
                           id="validationServer05"
                           ng-model=invoiceJSON.invoicenumber
                           placeholder="заполнить номер СФ">


                    <!--                    &lt;!&ndash; на расценке \ на согласовании \ закупается&ndash;&gt;
                                        <div class="form-row cb_border">

                                            &lt;!&ndash;На расценке&ndash;&gt;
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       id="Check01"
                                                       ng-model=invoiceJSON.senttoprice>
                                                <label class="form-check-label" for="Check01"> На расценке </label>
                                            </div>

                                            &lt;!&ndash;на согласовании&ndash;&gt;
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       id="Check02"
                                                       ng-model=invoiceJSON.senttoapprove>
                                                <label class="form-check-label" for="Check02">На согласовании</label>
                                            </div>

                                            &lt;!&ndash;Закупается&ndash;&gt;
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       id="Check03"
                                                       ng-model=invoiceJSON.senttopurchase>
                                                <label class="form-check-label"
                                                       for="Check03">Закупается</label>
                                            </div>

                                        </div>-->

                    <div class="form-row">
                        <!--дата создания заказа-->
                        <div class="col-md-6">
                            <label for="validationDataCreate">Дата создания заказа</label>
                            <input type="date" disabled
                                   class="form-control is-valid"
                                   id="validationDataCreate"
                                   ng-value="invoiceJSON.datacreate | date: 'yyyy-MM-dd' | isEmpty">
                            <!--ng-model=invoiceJSON.datacreate-->
                        </div>

                        <!--дата закрытия\выполнения заказа-->
                        <div class="col-md-6">
                            <label for="validationDataResolve">Дата выполнения заказа</label>
                            <input type="date" disabled
                                   class="form-control is-valid"
                                   id="validationDataResolve"
                                   ng-value="invoiceJSON.resolveddate | date: 'yyyy-MM-dd' | isEmpty"
                                   ng-model=invoiceJSON.resolveddate>
                        </div>
                    </div>

                </form>

            </div>

            <!--hшstory-->
            <div class="row invoice__main">

                <div class="col">

                    <div ng-repeat="history in invoiceJSON.histories | orderBy:'submitdate':false">
                        <h6>{{history.submitdate | date: "yyyy.MM.dd hh:mm"}} {{history.step.name}} {{history.customer.firstName}} {{history.customer.lastName}}</h6>
                        <div ng-repeat="comment in history.stepcomment | orderBy:'submitdate':false">
                        <p> --{{comment.submitdate  | date: "yy.MM.dd hh:mm" }} {{comment.customer.lastName}} {{comment.customer.firstName[0]}} :
                            {{comment.comment}}
                        </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    </div>

    <!-- Modal Edit invoice -->
    <div class="modal fade"
         id="editInvoiceModal"
         tabindex="-1" role="dialog"
         aria-labelledby="editInvoiceModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title"
                        id="editInvoiceModalLabel">Сохранить изменения в заказе?</h5>

                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <h4>{{invoiceJSON.ordernumber}}</h4>
                    <p>{{invoiceJSON.comment}}</p>
                    <p>{{invoiceJSON.department}}</p>
                    <p>{{invoiceJSON.customer.firstName}} {{invoiceJSON.customer.lastName}}</p>
                    <p>{{invoiceJSON.totalprice}}</p>
                    <p>{{invoiceJSON.datacreate}}</p>
                </div>

                <div class="modal-footer">

                    <button type="button"
                            class="btn btn-primary"
                            ng-click="editInvoice($scope.invoiceJSON)">Сохранить
                    </button>

                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">Отменить
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete invoice from DB -->
    <div class="modal fade"
         id="deleteInvoiceModal"
         tabindex="-1" role="dialog"
         aria-labelledby="deleteInvoiceModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title"
                        id="deleteInvoiceModalLabel">Удалить весь заказ из БД навсегда?</h5>

                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <h4>{{invoiceJSON.ordernumber}}</h4>
                    <p>{{invoiceJSON.comment}}</p>
                    <p>{{invoiceJSON.department}}</p>
                    <p>{{invoiceJSON.customer.firstName}} {{invoiceJSON.customer.lastName}}</p>
                    <p>{{invoiceJSON.datacreate}}</p>
                </div>

                <div class="modal-footer">

                    <button type="button"
                            class="btn btn-primary"
                            ng-click="deleteInvoice(invoice)">Удалить
                    </button>

                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">Отменить

                    </button>

                </div>
            </div>
        </div>
    </div>

</div>


