<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="invoiceControllerApiV1">
<head>
    <script src="invoice.js"></script>
</head>
<body>

<div class="ifield">
    <h2 class="h2Title">Каталог СчетФактур</h2>
    <!--фильтр-->
    <div class="filter">
        <!--<input type="text" placeholder="Фильтровать по всем полям" ng-model="orderNumber">-->
        <input title="введите ключевое слово для фильтрации" type="text" placeholder="Фильтровать по номеру заказа"
               ng-model="orderNumber.ordernumber">
    </div>
</div>

<!--вывод списока данных на страницу-->
<div ng-repeat="invoice in InvoiceList | filter:orderNumber">

    <!--zakaz-->
    <div class="card card-body"
         aria-expanded="false" aria-controls="collapseIndex{{$index}}">

        <!--hedder-->
        <div class="row">
            <div class="col-lg" title="номер и комментарий заказа">
                <h5>{{invoice.ordernumber}} ({{invoice.comment}}) </h5>
            </div>
            <div class="col-lg-2 {{isTableWarning(invoice.datacreate)}}" title="Дата создания">
                {{invoice.datacreate | date: "yyyy.MM.dd" | isEmpty }}
            </div>
            <div class="col-lg-2 {{isTableWarning(invoice.resolveddate)}}" title="Дата выполнения">
                {{invoice.resolveddate | date: "yyyy.MM.dd" | isEmpty }}
            </div>
        </div>

        <!--boddy-->
        <div class="row">

            <div class="col-lg"> <!--        1-->
                <div>
                    Отдел: {{invoice.department | isEmpty }}
                </div>
                <div>
                    Аппрувер:
                    {{invoice.customer.firstName}} {{invoice.customer.lastName}}
                </div>
                <div class={{isTableWarning(invoice.totalprice)}}>
                    Цена заказа:
                    {{invoice.totalprice | isEmpty }}
                </div>
                <div class={{isTableWarning(invoice.invoicenumber)}}>
                    Номер СФ
                    {{invoice.invoicenumber | isEmpty }}
                </div>
            </div>

            <div class="col-lg-6"><!--        2-->
                <div class="{{isTableWarning(invoice.senttoprice)}}">
                    <input type="checkbox" id="senttoprice" disabled ng-model="invoice.senttoprice"/>
                    <label class="form-check-label" for="senttoprice">На расценке:</label>
                </div>
                <div class="{{isTableWarning(invoice.senttoapprove)}}">
                    <label class="form-check-label" for="senttoapprove">На согласовании:</label>
                    <input type="checkbox" id="senttoapprove" disabled ng-model="invoice.senttoapprove"/>
                </div>
                <div class="{{isTableWarning(invoice.senttopurchase)}}">
                    <label class="form-check-label" for="senttopurchase">На закупке:</label>
                    <input type="checkbox" id="senttopurchase" disabled ng-model="invoice.senttopurchase"/>
                </div>
            </div>

            <div class="col-lg-2"><!--        3-->

            </div>

        </div>

        <!--Футер-->
        <div class="row">
            <p class="iButton text-center col-sm-6" data-toggle="collapse" data-target="#collapseIndex{{$index}}">Детали⟱</p>
            <p class="iButton text-center col-sm-6" ng-click="prepareToEditInvoice(invoice)">Редактировать</p>
        </div>

    </div>

    <!--raskryvushka-->
    <table class="table table-hover collapse" id="collapseIndex{{$index}}">
        <thead>
        <tr class="active">
            <th>Код 1с</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Для кого</th>
            <th>Детали заказа</th>
            <th>Цена закупа</th>
            <th>Дата получнения</th>
        </tr>
        </thead>

        <tbody ng-repeat="purchase in invoice.purchases">

        <tr>
            <td> {{purchase.nomenclature.code | isEmpty }}</td>
            <td><a class="card-link" href="#!/purchaseEditAnJS/?id={{purchase.id}}">
                {{purchase.nomenclature.nomenclature}} </a>
            </td>
            <td> {{purchase.count | isEmpty }}</td>
            <td> {{purchase.approver | isEmpty }}</td>
            <td class={{isTableWarning(purchase.comment)}}> {{purchase.comment | isEmpty }}</td>
            <td class={{isTableWarning(purchase.buyingPrice)}}>
                {{purchase.buyingPrice | currency: "Ꝑ" : 2 | isEmpty }}
            </td>
            <td class={{isTableWarning(purchase.resolvingdate)}}>
                {{purchase.resolvingdate | date: "yyyy.MM.dd" | isEmpty }}
            </td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>