<!DOCTYPE html>
<html lang="en" ng-app="MakrosPlusStore" ng-controller="invoiceControllerApiV1">
<head>

    <script src="../index.js"></script>

</head>
<body>


<div class="container">
    <div class="row">

        <h2 class="col-12 header__h2">Новый заказ</h2>

        <!--ввод основных значений Invoice-->
        <form class="col" ng-submit="addInvoice(invoice)">

            <button class="btn form__button col-sm-12" type="submit">Сохранить заказ</button>

            <div class="form-row">

                <div class="col-md-4">
                    <label for="validationServer01">Заказ (1c код):</label>
                    <input type="text" class="form-control is-valid" id="validationServer01"
                           ng-model="invoice.ordernumber"
                           required>
                    <div class="valid-feedback">
                        Укажите код заказа из 1с.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="validationServer03">Отдел</label>
                    <select class="custom-select is-invalid" id="validationServer03"
                            ng-model="invoice.department" required>
                        <option>FRAC (PL_215)</option>
                        <option>COIL (PL_214)</option>
                        <option>DRT</option>
                        <option>General_C</option>
                    </select>
                    <div class="invalid-feedback">
                        укажите центр затрат.
                    </div>
                </div>

                <div class="col-md-4" ng-controller="customerControllerApiV1">
                    <label for="validationServer031">Заказчик</label>
                    <select class="custom-select is-invalid" id="validationServer031"
                            ng-model="invoice.customer" required>
                        <option ng-repeat="customer in customerList"
                                value="{{customer.id}}"
                                ng-model="customer.login">{{customer.login}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        укажите заказчика.
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="validationServer02">Описание заказа:</label>
                    <input type="text" class="form-control is-invalid" id="validationServer02"
                           ng-model="invoice.comment" required>
                    <div class="invalid-feedback">
                        введите короткое описание заказа.
                    </div>
                </div>

            </div>

            <div class="form-row">

                <div class="col-md-6">
                    <label for="validationServer04">Сумма заказа: </label>
                    <input type="text" class="form-control is-invalid" id="validationServer04"
                           ng-model="invoice.totalprice">
                    <div class="invalid-feedback">
                        укажите итоговую сумму заказа.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="validationServer05">№СФ: </label>
                    <input type="text" class="form-control is-invalid" id="validationServer05"
                           ng-model="invoice.invoicenumber">
                    <div class="invalid-feedback">
                        укажите номер счет фактуры.
                    </div>
                </div>

            </div>

            <div class="form-group">

                <div class="form-check">
                    <label class="form-check-label" for="invalidCheck06">На расценке:</label>
                    <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck06"
                           ng-model="invoice.senttoprice">
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="invalidCheck07">На согласовании:</label>
                    <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck07"
                           ng-model="invoice.senttoapprove">
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="invalidCheck08">Закупаеся:</label>
                    <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck08"
                           ng-model="invoice.senttopurchase">
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>


<!--вывод товаров в Invoice-->
<div class="card">

    <table class="table table-responsive-lg table-bordered table-hover table-info">
        <thead>
        <tr class="active">
            <th>Товар</th>
            <th>Количество</th>
            <th>Согласующий</th>
            <th>Описание</th>
            <th>Цена</th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="purchase in invoiceFactory.invoiceJSON.purchases">
            <td>{{purchase.nomenclature.nomenclature}}</td>
            <td><input type="number" placeholder="количество: " ng-model='purchase.count'/></td>
            <td>
                <div ng-controller="customerControllerApiV1">
                    <select ng-model="purchase.approver">
                        <option ng-repeat="customer in customerList"
                                value="{{customer.firstName}} {{customer.lastName}}"
                                ng-model="purchase.approver">{{customer.firstName}} {{customer.lastName}}
                        </option>
                    </select>
                </div>
            </td>
            <td><input type="text" placeholder="Описание: " ng-model='purchase.comment'/></td>
            <td> {{purchase.buyingPrice}}</td>
            <td>
                <button class="btn form__button col-sm-12" ng-click="deletePurchaseFromInvoice($index)">-</button>
            </td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>